.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  gap: 24px;
}

.navbar li {
  font-size: 18px;
  font-weight: 500;
  color: rgba(163, 174, 187, 1);

}